<div class="ui main container">
  <div class="ui grid">

    <div class="four wide column">
      <div class="ui vertical fluid tabular menu">
        <a class="item" 
        ng-class="{ active: a.name == vm.assignmentName }" 
        ng-click="vm.setAssignment(a.id)" 
        ng-repeat="a in vm.srv.assignments">
        <div class="header">{{a.name}}</div>
        (due {{ vm.srv.getDueDate(a.due) }})</a>
      </div>
    </div>

    <div class="twelve wide stretched column">
      <div class="ui segment">

        <h2 class="ui header">{{ vm.assignmentName }}</h2>
        <span class="right floated text item">due {{ vm.srv.getDueDate(vm.assignmentDue) }} before class</span>

        <div class="ui message transition" ng-class="{ hidden: 'simple' != vm.assignmentId }">
          <p>In this assignment you will create a web page to demonstrate your understanding of HTML and basic JavaScript functionality.  We will create a semi-functional main page stub for our web application.  It will consist of &quot;cards&quot; that contain recent blob postings or picture uploads.  A &quot;card&quot; can be an image or a block of text.
          </p>
          <p>Requirements:</p>
          <ul>            
            <li>Use a <code>&lt;table&gt;</code> to layout a regular grid of &quot;cards&quot;.  There should be a sufficient number of cards so that scrolling down is necessary to view them all.</li>
            <li>Use an <code>&lt;interval&gt;</code> to periodically cycle through different images for each image card</li>
            <li>Use a <code>&lt;timeout&gt;</code> to inform the user to login or that they can register for a free account</li>
            <li>A button to login, results in window popup when clicked</li>            
            <li>A link to register a new account, takes the user to some other web page, e.g., <a href="http://www.rice.edu" target="_blank">http://www.rice.edu</a></li>
            <li>Text field for search, with search button.  Search button performs &quot;validation&quot; on text and results in window popup informing the user if they have a valid search term</li>
          </ul>

          <div class="ui section divider"></div>

          <p></p>

        </div> <!-- end simple-->


        <div class="ui message transition" ng-class="{ hidden: 'jsgame' != vm.assignmentId }">
          In this assignment you create a simple JavaScript game to be played in a browser.  
        </div> <!-- end jsgame -->

        <div class="ui message transition" ng-class="{ hidden: 'design' != vm.assignmentId }">
          In this assignment you will layout the frontend and functional design of your web application.
        </div> <!-- end design -->

        <div class="ui message transition" ng-class="{ hidden: 'frontend' != vm.assignmentId }">
          In this assignment you will implement the frontend of your web application.
        </div> <!-- end frontend -->

        <div class="ui message transition" ng-class="{ hidden: 'backend' != vm.assignmentId }">
          In this assignment you will deploy your web application.
        </div> <!-- end backend -->

        <div class="ui message transition" ng-class="{ hidden: 'integrated' != vm.assignmentId }">
          In this assignment you will integrate your web application with external services.
        </div> <!-- end integrated -->

        <div class="ui message transition" ng-class="{ hidden: 'final' != vm.assignmentId }">
          In this assignment you will deliver your multi-user web application.
        </div> <!-- end final -->





      </div>
    </div>


  </div>
</div>
