<div class="ui main container">
  <h1 class="ui header">Resources</h1>

  <p>In this course you will write code in HTML, CSS, JavaScript, and Python. You are free to choose your favorite
  editor, web browser, etc.</p>

  <p>I will be using Chrome, Chrome DevTools, and Sublime.</p>

  <h3 class="ui header">Editors</h3>

  <div class="ui horizontal list">
    <div class="item">
      <div class="ui button">
        <a href="http://sublimetext.com/" target="_blank"><img src="images/icon_subl.png" id="resourceIcon" name=
        "resourceIcon"><br>
        Sublime Text</a>
      </div>
    </div>

    <div class="item">
      <div class="ui button">
        <a href="https://www.jetbrains.com/pycharm/" target="_blank"><img src="images/pyCharm.jpg" id="resourceIcon"
        name="resourceIcon"><br>
        PyCharm</a>
      </div>
    </div>

    <div class="item">
      <div class="middle aligned"></div><br>
    </div>

    <div class="item">
      <div class="ui button">
        <a href="https://www.jetbrains.com/webstorm/" target="_blank"><img src="images/webStorm.jpg" id="resourceIcon"
        name="resourceIcon"><br>
        WebStorm</a>
      </div>
    </div>
  </div>

  <h3 class="ui header">Browsers</h3>

  <div class="ui horizontal list">
    <div class="item">
      <div class="ui button">
        <a href="http://www.google.com/chrome/" target="_blank"><img src="images/GoogleChrome2011.png" id=
        "resourceIcon" name="resourceIcon"><br>
        Chrome</a>
      </div>

      <div class="ui button">
        <a href="http://getfirefox.com/" target="_blank"><img src="images/br_firefox.png" id="resourceIcon" name=
        "resourceIcon"><br>
        Firefox</a>
      </div>
    </div>
  </div>

  <h3 class="ui header">More</h3>

  <div class="ui horizontal list">
    <div class="item">
      <div class="ui button">
        <a href="http://git-scm.com/" target="_blank"><img src="images/icon_git.png" id="resourceIcon" name=
        "resourceIcon"><br>
        GIT Version Control</a>
      </div>
    </div>
  </div>

  <h3 class="ui header">Books</h3>

  <div class="ui horizontal list"></div><u>TODO</u> HTML5 JavaScript Bootsrap SemanticUI jQuery underscore handlebars
  AngularJS Karma Casper
</div>
