<p>
In this assignment you will develop the frontend and functional design of your web application.  (In the next assignment you will implement the full functionality of the frontend.)
</p>

<p>Start by visiting your favorite social networking web application using Chrome <em>Incognito</em> (so you will not be automatically logged in).  Take note of the landing page.  Think about the positioning of the login and registration buttons.  Can you register from the landing page or is there link to a separate page or modal popup?  Similarly, can you log in directly from the landing page?  Is the landing page devoid of content or is there a sampling of content?  Using Chrome <em>Incognito</em>, compare the landing pages of Facebook and Twitter.
</p>
<p>
Next log into your favorite social networking web application and take note of the main page once logged in.  Where are the user controls for logging out or changing your profile information.  What content is display on the main page and how is it positioned relative to other components?  How do you navigate around?
</p>
<p>Think about these as you read the requirements below.  Note that there is nothing to "submit" for the above two paragraphs.</p>

<h3>Landing Page</h3>
<p>
In a previous assignment we constructed a simple landing page that had some of the key features for our social networking web application.  But it is lacking style.  Consider the layout of elements and what you will include on your landing page.  Instead of modifying your simple page, <u>create a new landing page</u>, call it <code>landing.html</code> for consistency.  Using raw CSS or a CSS Framework such as Bootstrap, Foundation, or SemanticUI, beautify your landing page.  See below for the required components, but you are free to add more.
</p>

<h3>Main Page</h3>
<p>Once a user logs in, their view will change.  The logged in user should see certainly an option to log out, perhaps accompained by a means to change their profile (which contains a profile picture of course) and password.  The main section of a user's page should be filled with posts from their feed.  The feed is a combination of their own posts interspersed with posts from other users that are being followed.  Prominently there is an area for the user to make a new post.
</p>
<p>
Also include a status headline for the user, and a sidebar with the followed users.  Ideally we also see the status headlines of those users as well, although this may be delegated to context control (e.g., the headline appears when a user hovers their mouse over the followed user's name, ala Facebook).  We need to be sure to separate the status headline from the new post card so that users are not confused by the two.  The design layout and choices are up to you.  
</p>
<p>We also need a way to edit the followed list.  Perhaps this is a button on the sidebar, or in a menu with the profile edit link.  What about searching for posts?  A search bar could be used to then replace the main section with the search results.  But then we need to be sure to have a mechanism to get back to the default main page.
</p>
<p>Create the <code>main.html</code> page that will act as the home page for the user once logged in.  Using similar styling as the landing page, beautify your main page.</p>

<h3>Functional Design</h3>
<p>The frontend of our web application will communicate with the backend using a small collection of endpoints which constitute the API.  Determine what that API will be, and which elements in your web application are the source for, and which are populated by the results from, each of the endpoints.</p>
<p>For example, the log in button will send the username and password to the server.  The endpoint should be called <code>/login</code> and it should be a <code>POST</code> action.</p>
<p>Create a page <code>design.html</code> that contains a table of all of the endpoints, the verb associated with them (likely we will use <code>GET</code>, <code>POST</code>, <code>PUT</code>, and <code>DELETE</code>), the request payload that is sent, the reponse data that is returned, and a description(s) of the element(s) in your web application that are connected to them.</p>

<h1>Requirements</h1>
<p>Use Chrome as your standard supported browser.  (Whereas you can use any browser you like for development, your assignment will be accessed using Chrome by the grading staff and therefore it behooves you that it works.)</p>
<p>
<h5><code>landing.html</code></h5>
<ul>
<li>mechanism to log in, should not redirect to a separate log in page, it can be a modal or in page</li>
<li>mechanism to register, may redirect to a separate registration page (but then <code>registration.html</code> must be included as well and be beautified)</li>
<li>Registration required fields: first name, last name, zip code, email address, password with confirmation (the last two need to be password input types)</li>
<li>Registration must be validated before POSTing</li>
<li>Include content on the landing page (ala Twitter, i.e., several cards with images and text -- make it look good for user experience)</li>
</ul>

<h5><code>main.html</code></h5>
<ul>
<li>mechanism to create a new post (input text field with option to upload images along with buttons to post or cancel)</li>
<li>user feed with multiple cards that contain images and text</li>
<li>mechanism to comment on a post. (Comments are essentially the same as initial posts in their functionality and entry appearence.)</li>
<li>status headline for the user</li>
<li>mechanism to update the status headline</li>
<li>display the user's profile picture</li>
<li>mechanism to log out</li>
<li>link to update profile (unimplemented target okay)</li>
<li>sidebar with list of followed users, with profile pictures</li>
<li>followed users have status headlines</li>
<li>mechanism to edit followed user list, remove users and add users</li>
<li>Search bar to search for users and/or posts (no functionality required yet)</li>
</ul>

<h5><code>design.html</code></h5>
<ul>
<li>table describing each endpoint with associated verb, example request payload, example reponse data, and descriptions of the element(s) being connected.  This page does not need to be beautified or have any specific styling.</li>
</ul>

<div class="ui section divider"></div>

<p>
Your three pages should exhibit responsive layout (portrait vs landscape, desktop vs mobile) and have a unified style, i.e., look and feel.  You should populate your pages with sample data, ala Lorem ipsum text and images, etc.  Modals, if present, should open and close appropriately.  Your site should exhibit a fluid user experience and be a site that <em>you</em> want to use.
</p>

<p>
You should write unobstrusive JavaScript and CSS.  Have separate JS and CSS files for each HTML page as necessary -- do not combine disparate logic or styling into one file.  However, there may be common functionality and styling that you share between the pages.  In this case, have a common file in addition to the separate ones.  It may be that you have no distinct styling, or perhaps only one or two CSS selector prescriptions, at which point it would be okay to only have the common CSS file and not separate ones for each page.  Therefore your submission may look like this</p>
<!-- ******************************** -->
<div class="ui list"><div class="item">
	<i class="folder icon"></i>
	<div class="content">
		<div class="header">hw-design</div>

		<div class="list">

			<div class="item">
				<i class="file image outline icon"></i>
				<div class="content"><div class="description">common.css</div></div>
			</div>


			<div class="item">
				<i class="file outline icon"></i>
				<div class="content"><div class="description">common.js</div></div>
	 		</div>


			<div class="item">
				<i class="file text outline icon"></i>
				<div class="content"><div class="description">design.html</div></div>
	 		</div>


			<div class="item">
				<i class="file image outline icon"></i>
				<div class="content"><div class="description">landing.css</div></div>
			</div>

			<div class="item">
				<i class="file text outline icon"></i>
				<div class="content"><div class="description">landing.html</div></div>
	 		</div>

			<div class="item">
				<i class="file outline icon"></i>
				<div class="content"><div class="description">landing.js</div></div>
	 		</div>


			<div class="item">
				<i class="file image outline icon"></i>
				<div class="content"><div class="description">main.css</div></div>
			</div>

			<div class="item">
				<i class="file text outline icon"></i>
				<div class="content"><div class="description">main.html</div></div>
	 		</div>

			<div class="item">
				<i class="file outline icon"></i>
				<div class="content"><div class="description">main.js</div></div>
	 		</div>
	 	</div>
 	</div>
 </div></div>
 <!-- ******************************** -->
