<p>In this assignment you will create a web page that demonstrates your understanding of basic JavaScript functionality.  In the previous assignment we created a registration page that a user could use to create
a new account on our social networking service.  Now we create a semi-functional main page for our web application.  The main page will consist of &quot;cards&quot; that contain recent blob postings or picture uploads.  A &quot;card&quot; can be an image, a block of text, or both.
</p>

<p>Use Chrome as your standard supported browser.</p>

<h4>Main Page Requirements</h4>

<p>The main page will contain the user's feed.  The feed consists of all of the user's posts along with all of the posts of the users that they are following.  In this assignment we make a web page that 
displays a semi-static feed.  The dynamic aspect is that the images in the posts will periodically change.</p>
<ul>            
  <li>Use a <code>&lt;table&gt;</code> to layout a regular grid of &quot;cards&quot;, with at least two columns.  There should be a sufficient number of rows so that scrolling down (in the main window of the browser) is necessary to view them all.</li>
  <li>Each card should either be an image, a block of text, or both.  
  Half of the cards should have images.  For the text you can use e.g., <em>lorem ipsum</em>.</li>
  <li>For each card that contains an image, use an <code>interval</code> to periodically cycle through different images.  The interval times should be a different random number of seconds between 1 and 5 inclusive for each card.</li>
  <li>Each image card contains a button labeled "Stop" to stop the interval for that card.  Once stopped, the button label changes to "Start" and should then start the interval when clicked.  All intervals are started by default.  When restarting an interval there should be a new random interval time for that interval.</li>
  <li>There should be a link to navitage to the user's profile page</li>
  <li>The table should be non-trivially styled using CSS</li>
</ul>

<p>
A "trivial" style would be only setting, e.g., the border of the table.  Instead we want to see several styles for the table, which should include styling the table data cells.  The styles should exist in a separate css file.
</p>

<h4>Profile Page Requirements</h4>

<p>The profile page will allow the user to update their profile.  Do not use a form for this page.
The page should contain the following:</p>
<ul>  
  <li>display name</li>
  <li>email address</li>
  <li>phone number</li>
  <li>zipcode</li>
  <li>password</li>
  <li>password confirmation</li>
  <li>Update b utton to submit the changes</li>
  <li>Link to return to main page</li>
</ul>
<p>For each field there should be an input along side the current value, e.g., something like this</p>
<div style="padding-left: 2em;">
  <label for="zipcode">Zip Code: <input id="zipcode" type="text" size="5">77005</label>
</div>
<p>The page will load with hardcoded values for each field.  The submit button
will determine which fields have changed and provide an alert to the user informing
which fields are being updated.  When the alert closes the updated values are displayed,
the input fields should all be cleared.  Be sure to validate the inputs (and perform password match) and
alert the user of incorrect entries.</p>

<p>You are welcome to style the profile page (include styles in the same file as for the main page) but it is not a requirement for this assignment.</p>

<div class="ui section divider"></div>

<h2>What to submit</h2>

<p>
For this assignment you should write <em>unobtrusive</em> JavaScript and CSS.  Therefore you will have two html files, two js files, and one css file in your submission:</p>

<div class="ui list"><div class="item">
    <i class="folder icon"></i>
    <div class="content">
        <div class="header">hw2-dynamic</div>
        <div class="list">

            <div class="item">
                <i class="file text outline icon"></i>
                <div class="content"><div class="description">main.html</div></div>
            </div>

            <div class="item">
                <i class="file text outline icon"></i>
                <div class="content"><div class="description">main.js</div></div>
            </div>

            <div class="item">
                <i class="file text outline icon"></i>
                <div class="content"><div class="description">profile.html</div></div>
            </div>

            <div class="item">
                <i class="file text outline icon"></i>
                <div class="content"><div class="description">profile.js</div></div>
            </div>

            <div class="item">
                <i class="file text outline icon"></i>
                <div class="content"><div class="description">styles.css</div></div>
            </div>

        </div>
    </div>
</div>

<!-- ******************************** -->

</p>



