<p>
In this assignment you will deliver your multi-user web application.
</p>

<H1>This is in progress...</H1>

add option for third party OAuth, link accounts delink accounts

redis caching store for session information




<h3>Geolocation</h3>

<p>A user will register with their zipcode.  MongoDB supports searching by latitude and longitude for instance to 
find all stores close to a particular location.  This is a powerful built-in and demonstrates what MongoDB was
initially designed for.  