<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/google/code-prettify/master/src/prettify.css">
<style>
code, pre {
    font-size: 0.85em;
}
</style>

<div onload="prettyPrint()">

<p>
In this assignment you will partially implement and test the frontend of your web application.  
We start with our draft front-end application that contains three views: 
<ul>
  <li>landing page with registration and login</li>
  <li>main page with posts, followers, and status message</li>
  <li>profile page which let's a user upload a new profile picture and edit their data</li>
</ul>
Remember that when tackling any large task our best approach is to divide and conquer.  For 
this assignment there are three major portions:
<ol>
	<li>Angularizing the three views into a single page application (SPA)</li>
	<li>Writing unit tests for the desired Controller functionality and mocking the dummy server endpoints</li>
	<li>Implementing Controllers for our site and connecting to the dummy server</li>
</ol>
<p>Most importantly we want to peform test driven development as we implement our webapp.  Therefore
before we implement anything we will first write tests for our functionality.  In this
way the desired behavior will drive our implementation and design.</p>

<h3>Angularization</h3>

<p>Using Angular views and routing, refactor our three separate html files, index.html, main.html, and profile.html,
into a SPA.  This means index.html will contain an ng-view which will upon routing point to main.html or profile.html, suitably refactored.  The file structure of your web app should follow that 
of the <a target="_blank" href="sample/RiceBookApp">RiceBookApp</a> example where we have a top level index page, an app directory, and then subdirectories for each component such as posts or users, etc.  Each subdirectory would have at least a view html file, a controller js file, and possibly a spec js file (see below).  You should also have a separate js file for your services and another for your post directive, possibly a post.html template as well.  Remember: one controller, factory, service, or directive per file.  As inspired from an in class exercise, you should have a directive representing a post.</p>

<p>
As you begin the Angularization of your site, focus on the routing and which sections of the web app need a controller. 
Recall that a controller is in charge of a single view and controllers should have as small of a scope as possible.
This will mean for sharing information between controllers we will use a service, for example the User service might
be used to keep track of the currently logged in user.
</p>

<p><a target=_blank href="http://plnkr.co/edit/EEBZXvZ5ZdrgEaQk4Xas?p=preview">Here is an example that should help you get started.</a></p>

<h3>Test Driven Development</h3>

<p>We will exercise test driven development instead of writing the implementation of our web app first and testing later.
Write Jasmine unit tests for the desired behavior and we'll use Karma for the execution of the test suite.  Let's start
by writing tests for the status section of the page, then the following section, and finally the actual login to the site.</p>

<h4>Unit Tests</h4>

<p>We will have a Status controller that is in charge of allowing the user to update their status.  It also displays the
user's status on the page.  For our first test we will simulate the user entering a new status message, which will
be sent to the server for persistence.  The test code might be similar to</p>
<pre class="prettyprint lang-javascript">
it('should update the status message', function() {
  var newStatus = 'A new status message'
  ctrl.updateStatus(newStatus)
  ctrl._resolveTestPromises()
  expect(ctrl.status).toBe(newStatus)
})
</pre>
<p>Where we have mocked the resource calls to the dummy server.
See below for the list of unit tests that we require in this assignment.
</p>

<h4>Behavior Implementation</h4>

<p>Now that we have failing tests we need to implement the desired functionality so that the tests
pass.  In this way we also assure that all of the code we write is covered by our test cases.
I.e., we should get high marks for code coverage with no extra effort and no need to later refactor our
code so that it will be testable -- this again is a benefit of test driven development.</p>

<p>Note that we will want a User service that contains the user's information, most notably their username and profile picture url.</p>

<h4>Dummy Server</h4>

<p>After we have written our tests, and fleshed out the implementation of our controllers,
we are ready to implement the <code>$resource</code> service connection to the dummy server.
Because the dummy server requires authentication, we should start by working on
the login logic.  After we have logged in, we then request list of followers with their statues and profile pictures, 
the status of the currently logged in user, etc from the server.  
</p>
<p>Please refer to the <a target="_blank" href="data/api.html#api">list of endpoints</a> which is your API to the dummy data server.  You have been pre-provided a user on the dummy server in addition to a test user.  Instructions on getting
started with the dummy server are at the top of the API page.
</p>
<p>The User service should not communicate directly with the resource service, nor should it be mutated by that service.  The resource service
should have no side-effects.  Instead, the User service is updated by whatever Controller needs to make the update.  See the 
<a target="_blank" href="sample/TabApp">TabApp</a> example for how this can be done.
</p>
<p>Once done with connecting to the dummy server we can manually verify that our site works as expected because we already tested and implemented
the status and followers functionality, the site should therefore be fully functional in these two areas.  Perform
live user testing by logging in with your account, changing your status message, and then logging in with your test user
account and verify that the status message is indeed persistent.
</p>
<p>
If you have the time and motivation, request posts from the dummy server and have them display on the page.
</p>

<h5>For next time...</h5>
<p>
In the next assignment we will implement creating new posts, commenting on posts, and uploading images
with posts, in addition to editing the user profile and new user registation.
</p>

<h2>Requirements</h2>

<p>Use Chrome as your standard supported browser.  (Whereas you can use any browser you like for development, your assignment will be accessed using Chrome by the grading staff and therefore it behooves you that it works.)  Host your webpage locally using the python server.</p>
<p>Remember separation of concerns and write DRY modularized code.</p>

<h3>Functionality</h3>
<p>The following outline the functional requirements for this assignment.  All of the data mentioned below comes
from the dummy server, therefore the only hard-coded data in your front-end code is the user's profile and the posts on the main view.
The list of followed users, their statuses and pictures, and the currently logged in user's status and profile picture all come from the dummy server.</p>
<ul>
	<li>User can log in with netID and three-word-passphrase, if successful then redirect to the main view, otherwise inform user of incorrect login</li>
	<li>When a user logs out it redirects to the landing view</li>
	<li>status headline for user is displayed</li>
	<li>update status headline for user</li>
	<li>display user's profile picture</li>
	<li>sidebar shows followed users with their profile pictures and statuses</li>
	<li>add user to followed users list</li>
	<li>remove user from followed users list</li>
</ul>

<h3>Unit Test</h3>
<p>Use Jasmine and Karma to test your application.  Note that in principle we only test "our" code and not "framework" code.  Therefore we 
do not need to test that a Controller functions as advertised by the Angular team.  Instead we only want to test our specific business logic
that we wrote.</p>
<ul>
	<li>Test updating the user's status headline</li>
	<li>Test getting the list of followed users</li>
	<li>Test getting the status message and picture for all of the followed users</li>
	<li>Test adding a new followed user, check both cases when the request user exists and does not exist.</li>
	<li>Test removing a followed user</li>
	<li>Test logging in a user</li>
	<li>Test logging out a user, User service should have no username stored</li>
	<li>Test that the User service shares the logged in username between the status and follower controllers 
		(this exercise is good to do, but is in fact testing the framework)</li>	
	<li>Include your Jasmine coverage results page in your submission</li>
</ul>

<h2>What to submit</h2>
....
TODO
...

The rubric is not up to date either. (2/13/2016)

</div>