<p>
In this assignment you will create a JavaScript game to be played in a browser to demonstrate your understanding of dynamic HTML and CSS with JavaScript.  Whereas this assignment is open ended, we should focus on meeting the specified requirements more than adding extra bells and whistles or making the game look really good (there are other classes focused on game design) -- in particular because we only have two weeks to work on this assignment!
</p>
<p>Use Chrome as your standard supported browser.  (Whereas you can use any browser you like for development, your assignment will be accessed using Chrome by the grading staff and therefore it behooves you that it works.)</p>

<h5>Requirements</h5>
<ul>
<li>Your game idea is approved by email confirmation from the instructor</li>
<li>Write unobstrusive JavaScript and CSS, i.e., separate js, css, and html to files with their respective content.</li>
<li>Playable by a single player alone</li>
<li>Playable in a short sitting, i.e., 10 minutes or less</li>
<li>A visual game, i.e., the game should involve moving graphics and use the mouse to interact.  Some keyboard usage is permissible.</li>
<li>Includes a "score" that is updated as the user plays</li>
<li>Has a dynamic aspect to it, e.g., difficulty becomes harder or easier, perhaps at random or as the user progresses in the game</li>
<li>include something unique about you in the game, i.e., make the game your own</li>
</ul>

<h5>Example Ideas</h5>
<p>
Here are some example ideas for games that you might create.  Remember the Rice Honor code: you write the code yourself do not copy the code for a game from the internet.  There are <em>lots</em> of games out there, take a look on the iPhone or Android app store, and you are free to search for inspiration (just remember the honor code).
</p>
<ul>
<li>tic-tac-toe</li>
<li>catch the fly</li>
<li>whack-a-mole</li>
<li>hangman</li>
<li>duck hunt</li>
<li>space invaders</li>
<li>an arithmetic game</li>
<li>memory</li>
<li>race game</li>
<li>maze game</li>
<li>angry birds clone</li>
</ul>

<div class="ui section divider"></div>

<p>
Your solution will contain at least one HTML file, one CSS file, and one JavaScript file.  Depending on the complexity of your game you may have more than one of each of these files.
</p>

