<!DOCTYPE html>
<html ng-app="helloNg">

<head>
  <meta charset="utf-8" />
  <title>Rice Book</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="hello-angular.css">
  <script src="RiceBookApp/lib/angular-1.4.6/angular.js"></script>  
  <script src="hello-angular.js"></script>
  
</head>
<body>

<div class="head" ng-controller='UserCtrl'>
  <h3>Welcome {{ userName }}!</h3>
  <div>&nbsp;{{ userStatus }}</div>
  <input id="in" type="text" ng-model="userStatus" size="30" >
</div>

<div ng-controller="PostCtrl">

	<div class="card" ng-repeat="post in posts">
	  <span>On {{ post.date}}, {{ post.author }} said</span>
	  {{ post.body }}
	</div>

</div>

</body>
</html>
